body {
	padding-top : 100px;	
}
h2 {color: #333}


.well {
  background: rgba(189, 195, 199,0.1)
}

.clicable{
    cursor : pointer;

}

.delete-icon {
	cursor: cell;
}


.ok {
	background: rgba(0, 255, 0, 0.1);
}

.ko {
	background: rgba(255, 0, 0, 0.1);
}

.na {
	background: rgba(102, 102, 102, 0.5);
	cursor: not-allowed;
}

.na .dis
{
	background: rgba(102, 102, 102, 0.5);
	cursor: not-allowed;
	text-decoration: line-through;	
}

tr { 
text-align:center;
vertical-align: middle;
}

th {
	text-align:center;
	vertical-align: middle;
	
}
td {
	text-align:center;
	vertical-align: middle;
}

.category{
	background:rgb(206, 206, 206);
}

.gras {
	font-weight: bold;
}