<num-rec-navbar></num-rec-navbar>



 <!-- select project -->

<div class = "container-fluid">

  <div class="col">
      <div class="row" style="margin:0.2rem">
        <ng2-completer class="col-2" [(ngModel)]="projectName" [datasource]= "projectNameService" [minSearchLength]="0" [ngModelOptions]="{standalone: true}" [autoMatch]="true" [required]="true" (selected)="selectProjectByName()" placeholder="Chercher un projet"></ng2-completer>
       
  </div>
  
  <div *ngIf="noProject">Vous n'avez aucun projet en cours, veuilliez en créer un</div>

  <div  *ngFor="let project of projects"  >
  <div  *ngIf = "project.id === selectProjectId" >

<!--description projet-->

  
    <div class="col">
      <div class="row justify-content-between" style="margin:0.2rem">
            <h4>{{project.name}}/{{project.client.clientName}}/{{project.model}} </h4>
            <div class="col-4">
              <input  type="text"  [(ngModel)]="searchTache"  placeholder="Filtrer les tache">
           </div>
            <div class="col-1">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#validProjectModal" >Valider</button>
            </div> 
     </div>

   
     <!--
     <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">      
     </div>
    -->
     
     
   </div>  

 

 



<!-- tableau Taches -->
        <div class="row">
                <div class="col-md-12">
                  <table id="my-table" class="table table-bordered table-responsive table-sm">
                        <thead>
                          <tr>
                           <!-- <th>groupe</th> -->
                            <th>nom</th>
                            <th colspan="3">etat</th>
                            <th>commentaires</th>
                            <th>user</th>
                            <th>date</th>
                            <th>fichier</th>
                            <th>histo</th>
                            <th>effacer</th>
                          </tr>
                        </thead>  
                           <tbody  *ngFor="let category of project.categorie.categories| categoryFilter:searchCategory ">
                          <tr class="category">
                                  <td colspan="12">{{category.categoryName | uppercase}}</td>
                          </tr>      
                          <tr *ngFor="let tache of category.tasks | tacheFilter:searchTache  " [class.ko]="tache.statut == 'ko'" [class.ok]="tache.statut== 'ok'" [class.na]="tache.statut== 'na'">
                                  <td width="20%" class="clicable dis" (click)="onSelect(tache)" data-toggle="tooltip" data-placement="top" title="{{tache.name}} {{tache.description}}" >{{tache.name}}</td>
                                   <td width="5%" ><button type="button" class="btn btn-block btn-success clicable btn-sm dis" (click)="isOk(tache)" ><span ><i class="fa fa-check fa-lg" aria-hidden="true"></i></span></button></td>
                                  <td width="5%" ><button type = "button" class="btn btn-block btn-danger clicable btn-sm dis" (click)="isKo(tache)" ><span >KO</span></button></td>
                                  <td width="5%" ><button type = "button" class="btn btn-block btn-secondary clicable btn-sm" (click)="isNa(tache)" ><span >NA</span></button></td>
                                  <td width="20%" ><input class="form-control dis " [(ngModel)]="tache.commentary" name="tache.commentary" (keydown.Enter)="validCommentary(tache)"aria-describedby="sizing-addon2"></td>
                                <!--  <td width="5%" ><div *ngFor="let log of tache.logHistory"><div>{{log.userTrigramme}}</div><button class="btn btn-primary" data-toggle="modal" data-target="#logModal" (click)="allLog(tache)">+</button></div></td> -->
                                  <td width="5%" ><div *ngFor="let log of tache.logHistory"><div>{{log.userTrigramme}}</div></div></td>
                                 <td width="10%"><div *ngFor="let log of tache.logHistory" >{{log.date | date:"dd/MM/y" }}</div> </td> 
                                  <td width="5%"> <button class="btn btn-secondary btn-sm dis" data-toggle="modal" data-target="#fileModal" (click)="viewfiles(tache)"> <i class="fa fa-file dis" aria-hidden="true"></i></button> </td>
                                  <td width="2%"><button class="btn btn-secondary btn-sm dis" data-toggle="modal" data-target="#logModal" (click)="allLog(tache)"><i class="fa fa-list fa-lg" aria-hidden="true"></i></button></td>
                                  <td width="2%"><button type = "button" class="btn btn-block btn-danger clicable btn-sm dis" (click)="deleteTask(tache)"><span class="fa fa-times" aria-hidden="true" ></span></button></td>                           
                          </tr>
                        </tbody>
                  </table>
                </div>
        </div> 
<!--  
    <num-rec-modif-commentaire #c="child" >chargement...</num-rec-modif-commentaire> 
-->

<!-- validProjectModal -->
<div class="modal fade" id="validProjectModal" tabindex="-1" role="dialog" aria-labelledby="validProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="validProjectModalLabel">Valider le projet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createPDF()">Exporter pdf</button> 
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="validateProject()">Valider</button>
      </div>
    </div>
  </div>
</div>


<!-- end validPorjectModal -->




<!-- addTaskModal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskModalLabel">Ajouter une tache</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- end addTaskModal -->




<!--Log Modal -->
<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logModalLabel">Historique des modifications</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
                  <table  class="table table-bordered table-responsive">
                        <thead>
                          <tr>
                            <th>date</th>
                            <th>trigramme</th>
                            <th>action</th>
                            <th>Commentaire</th>
                          </tr>
                        </thead>
                        <tbody *ngFor = "let log of logs">
                          <td widht="20%">{{log.date | date:"dd/MM/y H:mm:ss"}}</td>
                          <td widht="20%">{{log.userTrigramme}}</td>
                          <td widht="20%">{{log.typeLog}}</td>
                          <td widht="20%">{{log.commentary}}</td>
                        </tbody>
                  </table>        
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--end logModal -->

<!--Log File -->
<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fileModalLabel">Fichiers Joints </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
                <div> Fichiers </div>
  
                  <div *ngFor="let file of fileList">
                        <a [attr.href]="file.namepath">{{file.namefile}}</a>
                  </div> 
                <div> Ajouter un fichier </div>
                <div>
                   <input #fileInput type="file" name="file" placeholder="Upload file" accept=".pdf,.doc,.docx" /> 
                </div>          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addFile()">Valider</button>
      </div>
    </div>
  </div>
</div>

<!--end logFile-->


</div> 
</div>

</div>



