<div class="container" *ngIf=viewCreateClient>
     <h1>Creation Client</h1>
    <form  #createClientForm="ngForm" (ngSubmit)="onCreate(createClientForm.value)" >
      <div class="form-group">
        <label for="name">Nom</label>
      <input required  type="text" class="form-control" id="name" name="name"  [(ngModel)]="client.name" #login="ngModel"> 
      </div>
      <div class="form-group">
        <label for="code">Code</label>
      <input required  type="text" class="form-control" id="code" name="code"  [(ngModel)]="client.code" #login="ngModel"> 
      </div>
      
      
    <button type="submit" class="btn btn-default">Valider</button>  
    </form>


</div>

