<num-rec-navbar></num-rec-navbar>

<div class="container" *ngIf="viewModelManager" class="row">
      <div class="col-4 col-lg-4">
        <h2>Modèles Actuels</h2>
        <div class="d-inline-flex flex-row justify-content-start" *ngFor="let model of models">
            <div class="p-2 bg-primary text-white" style="margin:0.2rem">  {{model.name}} </div>
      </div> 
      </div>
      <div class="col-4 col-lg-4">
        <h2>Créer un modèle</h2>
        <p><a class="btn btn-secondary"  role="button" (click)=createModel()>Créer</a></p>
      </div>
      <div class="col-4 col-lg-4">
        <h2>Supprimer un modèle</h2>
        <p><a class="btn btn-secondary"  role="button" (click)=deleteModel() >Supprimer</a></p>
      </div>
</div>      

<num-rec-createmodel [viewCreateModel]="viewCreateModel" [viewModelManager]="viewModelManager" (viewCreateModelFalse)="listenerviewCreateModelFalse($event)" (viewModelManagerTrue)="listenerviewModelManagerTrue($event)"  ></num-rec-createmodel>      

<app-deletemodel [viewDeleteModel]="viewDeleteModel" [viewModelManager]="viewModelManager" [models]="models" (viewDeleteModelFalse)="listenerviewDeleteModelFalse($event)" (viewModelManagerTrue)="listenerviewModelManagerTrue($event)"></app-deletemodel>

