<num-rec-navbar></num-rec-navbar>

<div *ngIf="startCreate" class="loader d-block m-t-2"></div>

<div *ngIf="!startCreate" class="container" >
    <h1>Création de projet</h1>
    <form  *ngIf="afficheCreaProj">
      <div class=" form-group row align-items-between">
      <div class="col">
        <label for="login">Nom du Projet</label>
        <input type="text" class="form-control" id="login" required [(ngModel)]="projectName"  name="projectName">
      </div>
      
          
                <div class="col">
                <label for="customerName">Nom Client</label>
                <ng2-completer  [(ngModel)]="clientName" [datasource]= "clientNameService" [minSearchLength]="0" [ngModelOptions]="{standalone: true}" [autoMatch]="true" [required]="true"  ></ng2-completer>
              </div>
              <div class="col">
                  <label for="modelName">Modèle de projet  : {{modelName}}</label> 
                <ng2-completer [(ngModel)]="modelSelectName" [datasource]= "modelNameService" [minSearchLength]="0" [ngModelOptions]="{standalone: true}" [autoMatch]="true" (selected)="affectCategory()"  [required]="true" ></ng2-completer>
            </div>
            <div class = "col">
              
                <div class=" align-self-end">
                  <label for="affectUser"> <button type="submit" class="btn btn-default" (click)="affectUser()">Choisir Utilisateur</button> </label> 
                </div>
              
               
            </div>              
          </div>
    <div class="col">
      <div class="row" > 
        <div class="col align-self-center">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#validProjectModal" (click)="controlInput()">
                  Valider le projet : <span class="glyphicon glyphicon-ok-sign " aria-hidden="true"></span>
          </button> 
        </div>
      </div>
    </div> 

    <div class="row " > 
          <div class = "col">
          <div>
          Catégories selectionnées
          </div>
            <div class="d-inline-flex flex-row justify-content-start" *ngFor="let categorie of categoriesselectionnes" aria-required="true" required>
                <div class="p-2 bg-primary text-white h6" style="margin:0.2rem">  {{categorie.name}} </div>
          </div>
          </div>
          <div class="col">
          <div>  
          Utilisateurs selectionnés
          </div>
          <div class="d-inline-flex flex-row p-2 justify-content-start" *ngFor="let user of userSelect">
                  <div class="p-2 bg-primary text-white " style="margin:0.2rem" >{{user.lastName}}</div>   
          </div>
         </div> 
    </div>  
    
    </form>   
      


    <num-rec-affectuser (afficheCreaProjTrue)="listenerafficheCreaProjTrue($event)" (afficheUserFalse)="listenerAfficheUserFalse($event)" (afficheUserSelect)="listenerafficheuserselec($event)" [afficheUser]="afficheUser" [afficheCreaProj]="afficheCreaProj" [listUsers]="listUsers"  [userSelect]="userSelect"></num-rec-affectuser>

     <num-rec-affectcategory (afficheCreaProjTrue)="listenerafficheCreaProjTrue($event)" (afficheViewCategorieFalse)="listenerViewCategoryFalse($event)" (afficheCategorieSelect)="listenerafficheCategorieSelect($event)"  [categoriesForCreateTask]="categoriesForCreateTask" [afficheaffect]="afficheaffect" [afficheCreaProj]="afficheCreaProj" [categoriesselectionnes]="categoriesselectionnes" [categorieNameService]="categorieNameService">loading</num-rec-affectcategory>
</div>

<!-- validProjectModal -->
<div class="modal fade" id="validProjectModal" tabindex="-1" role="dialog" aria-labelledby="validProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="validProjectModalLabel">Valider le projet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="!controlInputOk"> 
        Il manque un élément pour valider le projet.
      </div> 
      <div *ngIf="controlInputOk"class="modal-body">
        Nom : {{projectName}}
        Modele : {{modelSelectName}}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button *ngIf="controlInputOk" type="button" class="btn btn-primary" type="submit" (click)="createProject()" data-dismiss="modal">Valider</button>
        
      </div>
    </div>
  </div>
</div>
