

<num-rec-navbar></num-rec-navbar>

<!-- tableau Projet -->
<div class="container">
        <div class="row">
                <div class="col-md-12">
                  <table  class="table table-bordered" >
                        <thead>
                          <tr>
                            <th>nom</th>
                            <th>Client</th>
                            <th>type</th>
                            <th>user</th>
                            <th>etat</th>
                            <th>date</th>
                            <th>reactiver</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projects">
                                <td>{{project.name}}</td>
                                <td>{{project.client.clientName}}</td>
                                <td>{{project.model}}</td>
                                <td>{{project.creator}}</td>
                                <td>{{project.state}}</td>
                                <td>{{project.endDate}}</td>
                                <td><button type = "button" class="btn btn-block btn-success clicable btn-sm dis" (click)="reactiveProject(project)" ><span >V</span></button></td>
                            </tr>
                        </tbody>
                   </table>
                 </div>          

</div>