

<div class="container" *ngIf="afficheUser">
<p>choisir les utilisateurs</p>


  <div class="container" style="margin:0.2rem">
        <div class="row justify-content-between">
            <div class="col-4">
              <button type="submit" class="btn btn-primary" (click)="cancel()">Annuler</button>
            </div>

            <form class="col-4" #createForm="ngForm" (ngSubmit)="affectuser()">
              <button type="submit" class="btn btn-primary">Valider</button>
            </form>
        </div> 
  </div> 
  <div class="row">

    
    <div class="col-md-6">

        <div class="panel panel-default">
        <div class="panel-heading d-flex p-2 justify-content-between">
          <h4>utilisateurs à ajouter </h4>
          <button type="button" class="btn btn-primary clicable pull-right" (click)="addAllUsers(users)">  
              <span class="glyphicon glyphicon-plus-sign " aria-hidden="true">+</span>
          </button>     
        </div>

           
        
        <div class="panel-body" *ngFor="let user of listUsers ; let i = index " >
          <div class=" d-flex p-2 justify-content-between"  >

            <ngb-accordion #acc="ngbAccordion" >
                      <ngb-panel>
                        <template ngbPanelTitle>
                            <span>{{user.lastName}}</span>
                        </template>
                        <template ngbPanelContent> 
                             <div class="form-check" >  
                                  <div>{{user.userTrigramme}} </div>
                                  <div>{{user.userType}} </div>
                            </div> 
                        </template>
                      </ngb-panel>
                   </ngb-accordion> 

            <button type="button" class="btn btn-primary clicable pull-md-right" (click)="addUser(user,i)"><span class="glyphicons glyphicons-plus " aria-hidden="true">></span></button>
          </div>
           
        </div>

              
                 
        </div>

      </div>
    
    
    

     
     <div class="col-md-6">

        <div class="panel panel-default">
        <div class="panel-heading">
          <h4>utilisateurs projet </h4>
        </div>
        
        <div class="panel-body">
              <ul *ngFor="let userselectionne of usersselectionnes; let i= index">
               
               <div class=" d-flex p-2 justify-content-between">
                <button type="button" class="btn btn-primary clicable pull-md-right" (click)="retirerAListe(userselectionne,i)"><span class="glyphicons glyphicons-plus " aria-hidden="true"><</span></button>
      
                <ngb-accordion #acc="ngbAccordion" >
                      <ngb-panel>
                        <template ngbPanelTitle>
                            <span>{{userselectionne.lastName}}</span>
                        </template>
                        <template ngbPanelContent> 
                             <div class="form-check" >  
                                  <div>{{userselectionne.userTrigramme}} </div>
                                  <div>{{userselectionne.userType}} </div>
                            </div> 
                        </template>
                      </ngb-panel>
                   </ngb-accordion>
        
                </div>
            </ul>    
                
        </div>
      </div>

    </div>
    
</div>





                
 





