<div class="container" *ngIf="viewDeleteUser">
  
<div class="form-group">
        <label for="modelName">Choisir l'utilisateur à supprimer</label>   
        <select class="form-control input-sm" [(ngModel)]="userSelectName"  name="userlSelectName">
          <option class='gras' >choisir Utilisateurs</option>
          <option  *ngFor="let user of users" >{{user.lastName}}</option>
        </select>  
</div>

 <div> 
        <button type="button" class="btn btn-primary" (click)=deleteUser()>
                Supprimer l'utilisateur : <span class="glyphicon glyphicon-ok-sign " aria-hidden="true"></span>
        </button> 
</div>

</div>
