<div class="container" *ngIf=viewCreateUser>
     <h1>Creation utilisateur</h1>
    <form  #createUserForm="ngForm" (ngSubmit)="onCreate(createUserForm.value)" >
      <div class="form-group">
        <label for="userName">Nom</label>
      <input required  type="text" class="form-control" id="userName" name="userName"  [(ngModel)]="user.userName" #login="ngModel"> 
      </div>
      <div class="form-group">
        <label for="lastName">Prenom</label>
      <input required  type="text" class="form-control" id="lastName" name="lastName"  [(ngModel)]="user.lastName" #login="ngModel"> 
      </div>
      <div class="form-group">
        <label for="userTrigramme">Trigramme</label>
      <input required  type="text" class="form-control" id="userTrigramme" name="userTrigramme"  [(ngModel)]="user.userTrigramme" #login="ngModel"> 
      </div>
      <div class="form-group">
        <label for="login">Login</label>
      <input required  type="text" class="form-control" id="login" name="login"  [(ngModel)]="user.login" #login="ngModel"> 
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" name ="password" required [(ngModel)]="user.password" #password="ngModel"  > 
      </div>
      <div class="form-group">
        <label for="userType">Type d'utilisateur </label>
        <select required class="form-control input-sm" [(ngModel)]="user.userType"  name="userType">
          <option class='gras' >choisir le type d'utilisateur</option>
          <option>Dev</option>
          <option>TIAC</option>
          <option>Compte</option>
          <option>Admin</option>
        </select> 
      
      </div>
      
    <button type="submit" class="btn btn-default">Valider</button>  
    </form>


</div>
