<div class="container" *ngIf="viewDeleteModel">
  
<div class="form-group">
        <label for="modelName">Choisir le model à supprimer</label>   
        <select class="form-control input-sm" [(ngModel)]="modelSelectName"  name="modelSelectName">
          <option class='gras' >choisir Model</option>
          <option  *ngFor="let model of models" >{{model.name}}</option>
        </select>  
</div>

 <div> 
        <button type="button" class="btn btn-primary" (click)=deleteModel()>
                Supprimer le modèle : <span class="glyphicon glyphicon-ok-sign " aria-hidden="true"></span>
        </button> 
</div>

</div>