
<div class="container" *ngIf="viewAffectCategory">
<p>choisir taches</p>

<div class="container" style="margin:0.2rem">
  <div class="row justify-content-between">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCategoryModal">
            Créer une tache : <span class="glyphicon glyphicon-ok-sign " aria-hidden="true"></span>
    </button> 
 
    <button type="button" class="btn btn-primary" (click)="onValid()">
            Continuer <span class="glyphicon glyphicon-ok-sign " aria-hidden="true"></span>
    </button> 
   </div> 
</div>



  <div class="row">

    <!-- Liste de taches -->
    
    <div class="col-md-6">

        <div class="panel panel-default">
        <div class="panel-heading d-flex p-2 justify-content-between">
          <h4>Catégories retirées </h4>
          <button type="button" class="btn btn-primary clicable pull-right" (click)="addAllCategories(categories)">  
            <span class="glyphicon glyphicon-plus-sign " aria-hidden="true">+</span>
          </button>     
        </div>

              
        
        <div class="panel-body " *ngFor="let categorie of categories; let i = index" >
          <div class=" d-flex p-2 justify-content-between" >
         
                  <ngb-accordion #acc="ngbAccordion" >
                      <ngb-panel>
                        <template ngbPanelTitle>
                            <span>{{categorie.name}}</span>
                        </template>
                        <template ngbPanelContent> 
                             <div class="form-check" *ngFor = "let task of categorie.task" >  
                              
                                 <!--
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="taskSelected"  name="taskSelected" checked>
                                      {{task.name}}
                                  </label>
                                  -->
                                  
                                  <div>{{task.name}} </div>
                            </div> 
                        </template>
                      </ngb-panel>
                   </ngb-accordion> 



              <!-- bouton-->
              
             <button type="button" class="btn btn-primary clicable pull-md-right" (click)="addAnCategory(categorie,i,taskSelected)"><span class="glyphicons glyphicons-plus " aria-hidden="true">></span></button>                 
        </div>
      </div>
    </div>
    </div>
    
     <!-- taches projet -->
     
     <div class="col-md-6">

        <div class="panel panel-default">
        <div class="panel-heading d-flex p-2 justify-content-between">
          <button type="button" class="btn btn-primary clicable pull-right" (click)="removeAllCategories(categoriesSelected)">  
            <span class="glyphicon glyphicon-plus-sign " aria-hidden="true">-</span>
          </button> 
          <h4>Catégories</h4>
        </div>
        
        <div class="panel-body" *ngFor="let categorySelected of categoriesSelected; let i= index">
               
               
               <div class=" d-flex p-2 justify-content-between" >
                  <button type="button" class="btn btn-primary clicable pull-md-right" (click)="removeAnCategory(categorySelected,i)"><span class="glyphicons glyphicons-plus " aria-hidden="true"><</span></button> 
                 <ngb-accordion #acc="ngbAccordion" >
                      <ngb-panel>
                        <template ngbPanelTitle>
                            <span>{{categorySelected.name}}</span>
                        </template>
                        <template ngbPanelContent> 
                             <div class="form-check" *ngFor = "let task of categorySelected.task">
                              
                                 <!--
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" [value]="task.id" checked>
                                      {{task.name}}
                                  </label>
                                  -->                                  
                                  <div>{{task.name}} </div>
                            </div> 
                        </template>
                      </ngb-panel>

                   </ngb-accordion>    
                 </div>
                
        </div>
      </div>

    </div>
  </div>  

 <!-- row -->








<!-- creer une categorie -->

<div class="modal fade" id="createCategoryModal" tabindex="-1" role="dialog" aria-labelledby="createCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createCategoryModalLabel">Créer une tache</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
              <label for="task">Nom Tache</label>
              <input type="text" class="form-control" id="task" required [(ngModel)]="taskName"  name="taskName">
        </div>
        <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description"  [(ngModel)]="taskDescription"  name="taskDescription">
        </div>

        
        <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="categorieChoice" name="categorieChoice" id="inlineRadio1" value="option1" checked> Categorie existante
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" [(ngModel)]="categorieChoice" name="categorieChoice" id="inlineRadio2" value="option2"> Nouvelle Categorie
            </label>
        </div>
      
         
      
        <div class="form-group" *ngIf ="categorieChoice === 'option1'">
          <label for="categoriesForCreateTask"> Categorie </label>
          <select class="form-control input-sm" [(ngModel)]="categorieName"  name="categorieName">
                <option class='gras' >choisir categorie</option>
                <option  *ngFor="let categorie of categoriesForCreateTask" >{{categorie.name}}</option>
        </select>
        </div>
      
        <div class="form-group" *ngIf ="categorieChoice === 'option2'" >
              <label for="newCategorie">Nouvelle categorie</label>
              <input type="text" class="form-control" id="newCategorie"  [(ngModel)]="newCategorieName"  name="newCategorieName" >
        </div>
        

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" type="submit" data-dismiss="modal" (click)="createTask(taskName,taskDescription,categorieName,newCategorieName)">Valider</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

</div>        
 





