<num-rec-navbar></num-rec-navbar>


<div class="container" *ngIf="viewUserManager" class="row">
      <div class="col-4 col-lg-4">
        <h2>Utilisateurs Actuels</h2>
        <div class="d-inline-flex flex-row justify-content-start" *ngFor="let user of users">
            <div class="p-2 bg-primary text-white" style="margin:0.2rem">  {{user.userName}} </div>
      </div> 
      </div>
      <div class="col-4 col-lg-4">
        <h2>Créer un utilisateur</h2>
        <p><a class="btn btn-secondary"  role="button" (click)=createUser()>Créer</a></p>
      </div>
      <div class="col-4 col-lg-4">
        <h2>Supprimer un utilisateur</h2>
        <p><a class="btn btn-secondary"  role="button" (click)=deleteUser() >Supprimer</a></p>
      </div>
</div>  


<app-createuser [viewCreateUser]="viewCreateUser" [viewUserManager]="viewUserManager" ></app-createuser>

<app-deleteuser [viewDeleteUser]="viewDeleteUser" [viewUserManager]="viewUserManager" [users]="users" (viewDeleteUserFalse)="listenerviewDeleteUserFalse($event)" (viewUserManagerTrue)="listenerviewUserManagerTrue($event)"></app-deleteuser> 
