<div class="container">
    <h1>Connexion</h1>
    <form  #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)" >
      <div class="form-group">
        <label for="login">Login</label>
      <input type="text" class="form-control" id="login" name="login" required [(ngModel)]="user.login" #login="ngModel"> 
      
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" name ="password" required [(ngModel)]="user.password" #password="ngModel"  > 
      </div>
      <div>
          <span *ngIf="!validation" class="text-danger">
              Mot de passe ou utilisateur incorrect
            </span>
      </div>  
    <button type="submit" class="btn btn-primary">Valider</button>  
    </form>
</div>
