<!--Filtre-->
<div class="row">
          <div class="col-md-3">
            filtrer par Categorie 
                            <select class="form-control input-sm" [(ngModel)]="searchCategory" name="searchCategory" placeholder = "Toutes categories">
                              <option class='gras' >Toutes categories</option>
                              <option *ngFor="let g of groupetaches" [value]="g.nom_groupetache">{{g.nom_groupetache}}</option>
                            </select>
                        
          </div>  
          <div class="col-md-2">
            Filtrer les taches <input type="text"  [(ngModel)]="searchTache" name="searchTache" placeholder="nom tache">
          </div>   
 </div>
