<num-rec-navbar></num-rec-navbar>


<div class="container" *ngIf="viewClientManager" class="row">
      <div class="col-4 col-lg-4">
        <h2>Clients Actuels</h2>
        <div class="d-inline-flex flex-row justify-content-start" *ngFor="let client of clients">
            <div class="p-2 bg-primary text-white" style="margin:0.2rem">  {{client.name}} </div>
      </div> 
      </div>
      <div class="col-4 col-lg-4">
        <h2>Créer un client</h2>
        <p><a class="btn btn-secondary"  role="button" (click)=createClient()>Créer</a></p>
      </div>
      <div class="col-4 col-lg-4">
        <h2>Supprimer un client</h2>
        <p><a class="btn btn-secondary"  role="button" (click)=deleteClient() >Supprimer</a></p>
      </div>
</div>  


<app-createclient [viewCreateClient]="viewCreateClient" [viewClientManager]="viewClientManager" ></app-createclient>

<app-deleteclient [viewDeleteClient]="viewDeleteClient" [viewClientManager]="viewClientManager" [clients]="clients" (viewDeleteClientFalse)="listenerviewDeleteClientFalse($event)" (viewClientManagerTrue)="listenerviewClientManagerTrue($event)"></app-deleteclient>
